.dashboard-modal {
	border: 1px solid red;
	display: flex;
	min-height: fit-content;

	.modal-left {
		border: 1px solid black;
		margin-right: 10px;
		width: 50%;
		.book-cover {
			height: auto;
		}
	}

	.modal-right {
		width: 50%;
		border: 1px solid black;
		margin-left: 10px;
		// padding-top: 20px;
		display: flex;
		flex-direction: column;

		.book-isbn,
		.book-title,
		.book-author,
		.book-genre {
			border: 1px solid black;
			text-align: left;
			height: 20%;
		}
	}
}

.bookshelf-container {
	margin-top: 20px;
	display: flex;

	.bookshelf-card {
		flex-direction: column;
	}
}
